<div class="container" style="margin: 20px 20px;">
  <div class="jumbotron" style="border: 1px solid black;">
    <h2><%= @hash_score[:message]  %></h2>
    <h3>your score is: <%= @hash_score[:scored] %> and you took <%= @hash_score[:time] %> seconds to answer.</h3>
  </div>
</div>
